.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*homepage*/

/* header*/
.Rectangle-5 {
    width: 1920px;
    height: 250px;
    border: solid 1px #707070;
    background-color: #57595f;
  }
  .Education {
    width: 152px;
    height: 35px;
    font-family: CorsivaHebrew;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #f8ef19;
  }
  .Rectangle-4 {
    width: 9px;
    height: 33px;
    border-radius: 39px;
    border: solid 1px #707070;
    background-color: #f9fafc;
  }
  .Rectangle-1 {
    width: 35px;
    height: 10px;
    border-radius: 39px;
    border: solid 1px #707070;
    background-color: #f8ef19;
  }
  .Ellipse-16 {
    width: 217px;
    height: 63px;
    border: solid 1px #f8ef19;
  }
  .Login {
    width: 86px;
    height: 35px;
    font-family: CorsivaHebrew;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #f8ef19;
  }


  /*body*/
  .e5dd1099f6d3ed362ac6dbfeb7a5 {
    width: 1920px;
    height: 590px;
    border: solid 1px #707070;
  }
  .Rectangle-7 {
    width: 709px;
    height: 252px;
    border: solid 1px #707070;
    background-color: #838a8e;
  }
  .Education-is-for-everyone-Watch-the-great-minds-of-today-teach-and-choose-your-own-professors {
    width: 564px;
    height: 296px;
    font-family: CorsivaHebrew;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #fffffd;
  }

  .Education-is-for-everyone-Watch-the-great-minds-of-today-teach-and-choose-your-own-professors .text-style-1 {
    color: #f7ee18;
  }

  /* bottom*/
  .Economics {
    width: 113px;
    height: 26px;
    font-family: CorsivaHebrew;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #0a0a09;
  }
  .Law {
    width: 41px;
    height: 26px;
    font-family: CorsivaHebrew;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #0a0a09;
  }
  .Engineering {
    width: 127px;
    height: 26px;
    font-family: CorsivaHebrew;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #0a0a09;
  }
  .More {
    width: 57px;
    height: 26px;
    font-family: CorsivaHebrew;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #0a0a09;
  }
  .Ellipse-11 {
    width: 217px;
    height: 63px;
    border: solid 1px #57595f;
    background-color: #ffffff;
  }
  .Ellipse-9 {
    width: 217px;
    height: 63px;
    border: solid 1px #57595f;
    background-color: #ffffff;
  }
  .Ellipse-14 {
    width: 217px;
    height: 63px;
    border: solid 1px #57595f;
    background-color: #ffffff;
  }
  .Ellipse-15 {
    width: 217px;
    height: 63px;
    border: solid 1px #57595f;
    background-color: #ffffff;
  }
  .Democratize-Education-Rate-your-lectures-delve-into-the-world-of-education-rate-your-professors-and-choose-yourself-who-you-want-to-listen-to {
    width: 773px;
    height: 136px;
    font-family: CorsivaHebrew;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #0a0a09;
  }

  .Democratize-Education-Rate-your-lectures-delve-into-the-world-of-education-rate-your-professors-and-choose-yourself-who-you-want-to-listen-to .text-style-1 {
    font-size: 30px;
    font-weight: bold;
  }
  /*css login page*/
 /*header
 .Rectangle-5 {
  width: 1920px;
  height: 250px;
  border: solid 1px #707070;
  background-color: #57595f;
}
.Education {
  width: 152px;
  height: 35px;
  font-family: CorsivaHebrew;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #f8ef19;
}
.Rectangle-1 {
  width: 35px;
  height: 10px;
  border-radius: 39px;
  border: solid 1px #707070;
  background-color: #f8ef19;
}
.Rectangle-4 {
  width: 9px;
  height: 33px;
  border-radius: 39px;
  border: solid 1px #707070;
  background-color: #f9fafc;
}
*/

 .Rectangle-21 {
  width: 185px;
  height: 98px;
  border-radius: 49px;
  border: solid 1px #707070;
  background-color: #57595f;
}
.LogIn {
  width: 86px;
  height: 82px;
  font-family: CorsivaHebrew;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #f8ef19;
}
.Rectangle-22 {
  width: 185px;
  height: 98px;
  border-radius: 49px;
  border: solid 1px #707070;
  background-color: #57595f;
}
.signUp {
  width: 108px;
  height: 35px;
  font-family: CorsivaHebrew;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #f8ef19;
}
